html,body{
    height: 100%;
}
body{
    font-size: 14px;
    background-color:black;
    background-image: url('../img/background.jpg');
    background-size: cover;
    font-family: 'Mukta Vaani', sans-serif;
}
nav{
    &.principal{
        font-size: 1.2em;
        margin: 0px;
        width: 100%;
        height: 90px;
        background-color: white;
        padding:20px;
        display: flex;
        align-items: center;
        box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.25);
        ul{
            margin: 0px;
            height: 100%;
            display: flex;
            list-style: none;
            li{
                margin: auto 10px;
            }
            &.primary{
                flex-basis:60%;
            }
            &.secondary{
                flex-basis: 40%;
                justify-content: flex-end;
            }
        }
    }
    &.pie{
        ul{
            list-style: none;
            margin: 0px;
            width: 100%;
            li{
                margin: 10px;
                border-bottom: solid 1px darken(white , 60%);
                padding: 10px 0px;
                a{
                    padding: 10px 0px;
                    text-decoration: none;
                    color: darken(white , 40%);
                    transition: all .2s ease;
                    &:hover{
                        color: darken(white , 10%);
                        i{
                            margin-right:25px; 
                            font-size: 1.3em;
                        }
                    }
                }
            }
        }
    }
}
.metrics{
    width: 100%;
    background-color: black;
    height: 120px;
    color: white;
    margin: 0px auto;
    p{
        text-align: center;
    }
    span{
        display: block;
        text-align: center;
        margin: auto;
    }
}
.access{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    form{
        h3{
            color: $themeE;
            width: 100%;
            padding-bottom: 10px;
            text-align: center;
            border-bottom: solid 1px lighten( black, 80%);
            font-size: 1.4em;
        }
        button{
            background-color: $themeE;
        }
    }
}
.user-profile{
    width: 100%;
    .user-menu{
        color: darken(white , 40%);
        background-color: $softA;
        ul{
            list-style: none;
            width: 100%;
            margin: 0px;
            margin-top:50px;
            padding: 0px;
            li{
                margin: 0px;
                a{
                    display: block;
                    padding: 15px;
                    color: darken(white , 40%);
                    border-bottom: solid 1px darken(white , 70%);
                    &:hover{
                        color: darken(white , 10%);
                        i{
                            margin-right:25px; 
                        font-size: 1.3em;
                        }
                    }
                    i{
                        font-size: 1.1em;
                        margin-right:15px;
                        transition: all 500ms ease; 
                    }
                    
                }
            }
        }
    }
    .user-info{
        display: flex;
        align-items: flex-start;
        justify-content: center;
        padding: 50px;
        ul{
            width: 400px;
            margin: auto;
            list-style: none;
            li{
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 50px auto;
                h4{
                    color: $themeE;
                    text-align: right;
                    margin: 0px;
                    font-size: 1.1em;
                    padding: 25px;
                    flex-basis: 50%;
                    border-right: solid 2px $themeE;
                }
                span{
                    text-align: left;
                    flex-basis: 50%;
                    color: lighten(black , 40%);
                    padding: 25px;
                }
            }
        }
    }
    .user-head{
        display: flex;
        align-items: center;
        h3{
            font-size: 1.4em;
            color: $themeA;
            flex-basis: 75%;
        }
        p{
            border-left:solid 1px darken($themeF, 40%);
            color: darken($themeF, 40%);
            font-size: 1.2em; 
            padding: 10px;
            text-align: right;
            flex-basis: 25%;
            margin: 0px;
            span{
                margin-left: 15px;
                font-size: 1.5em;
                position: relative;
                top:3px;
            }
        }
    }
}
.card{
    display: block;
    width: 100%;
    background-color: white;
    padding: 25px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.quiniela{
    h2{
        text-align: center;
        font-size: 1.8em;
        color: $themeD;
        span{
            margin-top: -10px;
            display: block;
            font-size: 1.2em;
            font-weight: bold;
        }
    }
    h3{
        text-align: center;
        font-size: 1.4em;
        color: $themeD;
    }
    .alineacion{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        .partido{
            padding: 10px;
            flex-basis: 45%;
            margin: 5px;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            border-radius: 5px;
            border: solid 1px lighten($themeA , 20%);
            h3{
                width: 100%;
            }
            .equipo{
                text-align: center;
                width: 50%;
                margin:5px auto;
                img{
                    display: block;
                    margin:auto;
                }
            }
            .resultado{
                display: flex;
                justify-content: space-between;
                width: 100%;
                input{
                    display:none;
                    &:checked + label {
                        background-color: $themeA;
                        color: white;
                        border: 2px solid white;
                        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
                    }
                }
                label{
                    display: block;
                    margin: 0px;
                    text-align: center;
                    color: darken(white , 40%);
                    min-width: 100px;
                    border: 2px solid darken(white , 30%);
                    border-radius: 10px;
                    background-color: transparent;
                    cursor: pointer;
                    user-select: none;
                    transition:all 300ms;
                }
            }
        }
    }
    table{
        thead{
            background-color: $themeD;
            color: white;
            tr{
                th{
                    text-align: center;
                }
            }
        }
        tbody{
            tr{
                td{
                    text-align: center;
                    a{
                        width: 100px;
                        margin: auto;
                        border-radius: 5px;
                        border: solid 2px white;
                        display: block;
                        text-align: center;
                        background-color: $themeA;
                        color:white;
                        padding: 3px;
                    }
                }
            }
        }
    }
}
footer{
    position: relative ;
    right: 0;
    bottom: 0;
    left: 0;
    min-height: 150px;
    border-top: solid 4px darken(white , 30%);
    padding: 10px;
    align-items: center;
    color: white;
    @include linear-gradient( darken($themeA, 30%), darken($themeA,40%));
    .social{
        display: flex;
        justify-content: center;
        a{
            margin: auto 10px;
            font-size:2em;
            color: darken(white , 30%);
            transition: all 200ms ease;
            &:hover{
                color: white;
                font-size: 2.5em;
            }
        }
    }
}